body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
}
h1,
h2 {
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}
button {
  padding: 10px 24px;
  border: unset;
  border-radius: 999px;
  background: #8bc15c;
  color: #283b16;
  font-size: 0.875rem;
  cursor: pointer;
}
button:hover {
  background: #77a54f;
}
#card {
  width: 300px;
  max-height: 480px;
  background: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
#card > #content {
  padding: 12px 14px;
}
#card > #content > #title {
  font-size: 1rem;
}
#card > #content > #sub-title {
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
}
#card > #content > #descriptions {
  font-size: 0.5rem;
}
#card > #content > #action {
  display: flex;
  margin-top: 20px;
  justify-content: end;
}
.round {
  border-radius: 12px;
}
