body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: #db4c40;
  width: 100vw;
  height: 100vh;
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #efefef;
  line-height: 0;
  font-family: "Noto Sans TC", sans-serif;
}
#time {
  font-size: 80px;
  font-weight: 300;
}
#date {
  font-size: 24px;
  font-weight: 100;
}
